
 * {
    box-sizing: border-box;
    
  }
  html{
      width: 1200;
  }
   
  
  body {
    margin: 0px;
    
    color: #333;
    background-image: url("assets/images/concrete_seamless.png");
    background-repeat: repeat;
  }
  
  header {
    width: 1200px;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    left: 0px;
    background-color: white;
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
    color: #777777;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 4px;
   
  }
 
  nav {
      margin: auto;
     height: 50px;
   align-content: center;
    width: 960px;
    background: white;
}
#navleft{
    float: left;
    width:120px;
}
#navright{
    float: right;
    width:120px;
}
 

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
   
}

li {
   
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: none;
    border-radius: 2px;
}
#spacer{
    height: 60px;
}
#Name{
    top: 0;
    text-align: center;
    position:absolute;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    color: white;
    width: 15%;
    height: 80px;
   
    background: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 4px;
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    color: #4aaaa5;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #4aaaa5;
    border: 2px;
}
#heading{
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 4px;
   
}
 
#left{
     float: left;
     width:120px;
 }
 #right 
 {float: right;
 width: 120px;
 }
 
  
  #middle {
    margin: auto;
    width: 960px;
    padding: 0;
    border:0;
    max-height: 1200px;
    min-height: calc(100vh - 70px);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: white;
    text-indent: 50px;
  }
  
 
  
  img {
    padding: 5px;
    float: left;
  }
 
  
  #spacer2{
    position: absolute;
    height: 60px;
    width: 100%;
}
  
  footer {
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 10px;
    
    text-align: center;
    vertical-align: bottom; 
    color: white;
    clear: both;
    background-color: #666666;
  }